<h1>THIS IS WHERE WE ENTER NEW TASKS</h1>

<form action="" method="post" accept-charset="utf-8">
  <label for="name">Name</label>
  <input type="text" name="name" value="" id="name">

  <label for="description">Description</label>
  <input type="text" name="description" value="" id="description">

  <label for="completed_date">Completed Date</label>
  <input type="text" name="completed_date" value="" id="completed_date">

  <input type="submit" value="Submit">
</form>
