body {
  font-family: 'Lato', sans-serif;
}

table {
  margin: auto;
}

th {
  padding-right: 30px;
}

td {
  padding-right: 30px;
}

h1 {
  text-align: center;
}

form {
  text-align: center;
}

nav a {
  padding-right: 10px;
}
